@media only screen and (min-width:992px) and (max-width:1199px) {

    /* Filmstrip - Container */
    #filmstrip .filmstrip-container {
        height: 345px;
    }

    /* Filmstrip - Arrowhead */
    #filmstrip .arrowhead span {
        position: static;
        font-size: 40px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {

    /* Navbar */
    .navbar-default .nav li a {
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-default .nav .nav-social {
        padding-left: 5px;
    }

    .navbar-default .navbar-brand {
        padding-right: 0px;
    }

    /* Filmstrip - Container */
    #filmstrip .filmstrip-container {
        height: 260px;
    }

    /* Filmstrip - Arrowhead */
    #filmstrip .arrowhead span {
        position: static;
        font-size: 40px;
    }

    /* Collaborations - All */
    #home-page .caption h1 {
        font-size: 180%;
    }

    /* Collaboration - Next */
    #blog .next .caption h3 {
        font-size: 115%;
    }
}

@media only screen and (min-width:768px) and (max-width:820px) {

    /* Navbar */
    .navbar-default .nav li a {
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media only screen and (max-width:767px) {

    /* Navbar - Brand */
    .navbar-default {
        margin-top: 0px;
    }

    .navbar-default .navbar-brand {
        height: 35px;
        margin-top: 0px;
    }

    .navbar-default .navbar-brand img {
        height: 35px;
        margin-top: 2px;
    }

    /* Navbar */
    .navbar-default .nav li a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* Navbar - Dropdown */
    .navbar-default .nav ul.nav-dropdown  {
        visibility: visible;
        position: static;
        padding-left: 15px;

        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        -khtml-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }

    /* Active page - Border bottom */
    .navbar-default .nav .active-page a {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    /* Home */
    #home {
        margin-top: 40px;
    }

    #home .jumbotron {
        margin-bottom: 5px;
    }

    /* Thumbnail - Static Caption */
    .thumbnail .caption {
        bottom: 0;
    }

    .thumbnail .caption-date {
        top: 0;
        bottom: initial;
    }

    /* Dress */
    #dress .dress-photo-right {
        padding-left: 5px;
    }
}

@media only screen and (min-width:640px) and (max-width:767px) {

    /* Filmstrip - Container */
    #filmstrip .filmstrip-container {
        height: 220px;
    }

    /* Filmstrip - Arrowhead */
    #filmstrip .arrowhead span {
        position: static;
        font-size: 40px;
    }

    /* Home page - Thumbnail */
    #home-page .thumbnail {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width:639px) {

    /* Filmstrip */
    #filmstrip {
        display: none;
    }

    /* Home page - Small screen for Filmstrip */
    #home-page-small-screen {
        display: block !important;
    }
}

@media only screen and (max-width:479px) {

    /* Home page - h1 */
    #home-page .page-header h1 {
        font-size: 26px;
        background-position: 0 170%;
    }

    /* Home page - h2 */
    #home-page .page-header h2 {
        font-size: 26px;
        background-position: 0 170%;
    }

    /* Collaborations - All */
    #home-page .caption h1 {
        font-size: 180%;
    }

    /* Collaboration - h1 */
    #blog .page-header h1 {
        font-size: 30px;
    }

    /* Collaboration - Link */
    #blog .blog-left p span {
        font-size: 10px;
    }

    /* Collaboration - Next */
    #blog .next .caption h3 {
        font-size: 18px;
    }

    /* Footer */
    footer .copyright h5 {
        font-size: 12px;
    }

    /* About us */
    #about .row {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* Contact */
    #contact .row {
        padding-top: 10px;
    }

    #contact address {
        font-size: 18px;
    }

    #contact span.warning {
        font-size: 14px;
    }
}
