body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Georgia, serif;
    color: #000;
}

        /* Preloader */

#preloader {
	background: #FFF;
    position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1111;
}

#status {
    position: absolute;
    top: 50%;
	left: 50%;
    margin-top: -35px;
    margin-left: -70px;
    display: none;
}

#preloader-all {
	background: #FFF;
    position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1111;
}

#status-all {
    position: absolute;
    top: 50%;
	left: 50%;
    margin-top: -35px;
    margin-left: -70px;
}

        /* Navbar */

.navbar-default {
    background: #fff;
    min-height: 40px;
    margin-top: 25px;
    border: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.navbar-default .nav li a {
    font-weight: 900;
    padding: 10px 15px;
    color: #000;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.navbar-default .nav li a:hover {
    background: none;
    box-shadow: none;
	outline: 0;
    color: rgba(0, 0, 0, 0.5);
}

.navbar-default .nav .active-page a {
    -webkit-box-shadow: inset 0 -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0 -4px rgba(0, 0, 0, 1);
    box-shadow: inset 0 -4px rgba(0, 0, 0, 1);
}

.navbar-default .nav ul.nav-dropdown  {
    visibility: hidden;
	position: absolute;
    top: 35;
	z-index: 999;
    background: #fff;
    list-style-type: none;
    min-width: 120px;
    padding: 0 5px;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.navbar-default .nav li:hover > ul.nav-dropdown {
    visibility: visible;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.navbar-default .nav ul.nav-dropdown li {
    padding-bottom: 5px;
}

.navbar-default .nav ul.nav-dropdown li a {
    padding: 5px 10px;
    text-decoration: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar-default .nav .nav-social {
    list-style-type: none;
    padding: 9px 15px;
}

.navbar-default .nav .nav-social li {
    display: inline;
}

.navbar-default .nav .nav-social li a {
    padding: 10px 2px;
    text-decoration: none;
}

.navbar-default .nav .nav-social .open > a,
.navbar-default .nav .nav-social .open > a:focus,
.navbar-default .nav .nav-social .open .open > a:hover {
    background-color: transparent;
}

.navbar-default .navbar-collapse {
    border: none;
}

.navbar-default .navbar-toggle {
    border: none;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-top: 10px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
    height: 3px;
}

.navbar-default .navbar-brand {
    margin-top: -25px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 40px;
}

.navbar-default .navbar-brand img {
    height: 65px;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

        /* Navbar Collapse */

.top-nav-collapse {
    margin-top: 0px;
}

.top-nav-collapse .navbar-brand {
    height: 35px;
    margin-top: 0px;
}

.top-nav-collapse .navbar-brand img {
    height: 35px;
    margin-top: 2px;
}

        /* Home */

#home {
    margin-top: 65px;
    margin-bottom: 10px;
}

#home .jumbotron {
    padding: 0px;
    margin-bottom: 20px;
}

#home h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    background: url('../img/line.gif') repeat-x;
}

#home span {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
}

        /* Carousel */

.carousel.fade {
    opacity: 1;
}

.carousel.fade .item {
    -webkit-transition: opacity ease-in-out .7s;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1;
}

.carousel.fade .item:first-child {
    top: auto;
    position: relative;
}

.carousel.fade .item.active {
    -webkit-transition: opacity ease-in-out .7s;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    opacity: 1;
    z-index: 2;
}

        /* Home Page */

#home-page .home-page-small {
    padding-left: 10px;
    padding-right: 10px;
}

#home-page .text-center {
    padding-left: 5px;
    padding-right: 5px;
}

#home-page .page-header {
    margin: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

#home-page .page-header h1 {
    margin-top: 0px;
    padding-top: 20px;
    background: url('../img/line.gif') repeat-x 0 100%;
}

#home-page .page-header h2 {
    margin-top: 0px;
    padding-top: 20px;
    background: url('../img/line.gif') repeat-x 0 130%;
}

#home-page .page-header a {
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    background-color: #fff;
    text-decoration: none;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#home-page .page-header a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

#home-page .social {
    padding: 0px;
}

#home-page .big-photo {
    margin-bottom: 15px;
}

#home-page img.photo-back {
    margin-bottom: 10px;
}

#home-page img.photo-front {
    position: absolute;
	left: 0;
	top: 0;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

#home-page .photo-thumbnail {
    margin-bottom: 15px;
    cursor: pointer;
}

#home-page #home-page-small-screen {
    display: none;
}

        /* Dresses */

#dress .dress-photo {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#dress .dress-photo h2 {
    margin-top: 0px;
    padding-top: 10px;
    border-top: 2px solid #000;
}

#dress .big-photo {
    padding: 0 5px;
}

#dress .big-photo p {
    cursor: pointer;
}

#dress .small-photo {
    padding: 0 5px;
}

#dress .photo-thumbnail {
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0px;
    cursor: pointer;
}

#dress .close {
    position: absolute;
    z-index: 1;
    opacity: 1;
    right: 5px;
}

#dress .dress-photo-right {
    padding-right: 5px;
}

#dress .dress-description ul {
    padding-left: 0px;
    font-size: 16px;
}

#dress .dress-description li {
    list-style-type: none;
}

#dress .other-dress-photos {
    padding: 0 5px;
}

#dress .other-dress-photo {
    padding: 0 5px;
    margin-bottom: 10px;
}

#dress img.photo-front {
    position: absolute;
	left: 0;
	top: 0;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
}

        /* About */

#about .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

#about .row {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../img/about-us.jpg');
    background-repeat: no-repeat;
    background-position: right top;
}

#about p {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
}

        /* Blog */

#blog hr {
    margin-top: 0px;
    margin-bottom: 10px;
    border-top: 1px solid #000;
}

#blog small {
    color: #000;
}

#blog .page-header {
    margin-top: 10px;
    margin-bottom: 1px;
    border-bottom: 3px solid #000;
}

#blog .page-header h1 {
    margin-top: 10px;
    margin-bottom: 0px;
}

#blog .blog-left {
    margin-bottom: 30px;
    font-size: 18px;
    font-style: italic;
}

#blog .blog-left img {
    margin-bottom: 10px;
    display: inline-block;
}

#blog .blog-left a {
    color: #777;
}

#blog .blog-left a:hover {
    color: #000;
}

#blog .blog-right .blog-box {
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

#blog .blog-right h3 {
    margin-top: 20px;
    padding-bottom: 10px;
}

#blog .blog-right p {
    font-size: 14px;
    font-style: italic;
}

#blog .blog-right img {
    margin-bottom: 10px;
    display: inline-block;
}

#blog .blog-right a {
    color: #777;
}

#blog .blog-right a:hover {
    color: #000;
    text-decoration: none;
}

        /* Contact */

#contact .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

#contact address {
    font-size: 20px;
    font-weight: 900;
}

#contact .row {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-image: url('../img/contact.jpg');
    background-repeat: no-repeat;
    background-position: right top;
}

#contact span.notification {
    font-size: 20px;
    font-weight: 900;
    color: #f00;
}

#contact span.warning {
    font-size: 16px;
    font-weight: 900;
    color: #f00;
}

        /* Footer */

footer .row-top {
    margin-top: -30px;
}

footer hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 3px double #000;
}

footer h5 {
    margin-top: 0px;
    margin-bottom: 2px;
}

footer .social {
    bottom: -30;
}

footer .social ul {
    margin: 0px;
}

footer .social li {
    padding: 0px;
}

footer .social a {
    display: block;
    padding: 7px 5px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #000;
    color: #000;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
}

footer .social a:hover {
    background-color: #000;
    color: #FFF;
}

footer .small-nav {
    bottom: -35;
}

footer .small-nav ul {
    font-size: 12px;
    list-style-type: none;
    padding-left: 0px;
}

footer .small-nav ul li {
    display: inline;
}

footer .small-nav ul li a {
    color: #000;
    text-decoration: none;
}

footer .small-nav ul li a:hover {
    color: #777;
    text-decoration: none;
}

footer .copyright {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer .back-to-top {
    bottom: -17;
    z-index: 1;
    padding-left: 0px;
    min-height: 30px;
}

footer .back-to-top a {
    display: none;
    padding: 7px 5px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
}

footer .back-to-top a:hover {
    background-color: #000;
    color: #FFF;
}

    /* Filmstrip */

#filmstrip .filmstrip-container {
    position: relative;
    width: 100%;
    height: 430px;
    overflow: hidden;
}

#filmstrip .filmstrip-main {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    left: 0;
}

#filmstrip .filmstrip-item {
    position: absolute;
    width: 25%;
}

#filmstrip .filmstrip-item img {
    padding: 5px;
}

#filmstrip .arrowhead span {
    position: absolute;
    top: -70px;
    z-index: 11;
    font-size: 60px;
    font-weight: 900;
    cursor: pointer;
}

#filmstrip #arrowhead-left span {
    left: -35px;
}

#filmstrip #arrowhead-right span {
    right: -35px;
    display: none;
}

#filmstrip img.photo-front {
    position: absolute;
	left: 0;
	top: 0;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0px;
}

    /* Thumbnail and Caption */

.thumbnail {
    padding: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 0px;
    position:relative;
    overflow: hidden;
}

.thumbnail .caption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: -120;
    left: 0;
    width: 100%;
    text-shadow: -2px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: #FFF;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.thumbnail .caption h1 {
    margin-top: 10px;
}

.caption h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.thumbnail .caption h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.thumbnail .caption p {
    margin: 0px;
    font-size: 16px;
}

.thumbnail:hover > .caption {
    bottom: 0;
}

.thumbnail .caption-date {
    top: -30;
    right: 0;
    left: inherit;
    bottom: inherit;
    padding: 0;
    width: 100px;
}

.thumbnail .caption-date p {
    font-size: 18px;
}

.thumbnail:hover > .caption-date {
    top: 0;
    bottom: inherit;
}

.thumbnail img {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

    /* Instagram and Facebook */

.instagram {
    padding: 5px;
}

.instagram img {
    margin-bottom: 0px !important;
}

.facebook {
    overflow: hidden;
    margin-bottom: 20px;
}

    /* Form */

form .form-control {
    font-size: 16px;
    font-style: italic;
}

form label.error {
    margin-bottom: 0px;
    color: #f00;
}

form .help-block {
    margin-bottom: 0px;
}

.form-message {
    font-size: 18px;
    font-weight: bold;
    color: #f00;
}

    /* Button */

.btn {
    background: #000;
    text-shadow: 1px 1px 1px #777;
    color: #FFF;
    font-size: 14px;
    padding: 6px 12px 6px 12px;
    border: solid #222 1px;
    text-decoration: none;

    background-image: -webkit-linear-gradient(top, #222, #000);
    background-image: -moz-linear-gradient(top, #222, #000);
    background-image: -ms-linear-gradient(top, #222, #000);
    background-image: -o-linear-gradient(top, #222, #000);
    background-image: linear-gradient(to bottom, #222, #000);
}

.btn:focus, .btn:hover {
    color: #FFF;
    background: #000;
    text-decoration: none;

    background-image: -webkit-linear-gradient(top, #000, #111);
    background-image: -moz-linear-gradient(top, #000, #111);
    background-image: -ms-linear-gradient(top, #000, #111);
    background-image: -o-linear-gradient(top, #000, #111);
    background-image: linear-gradient(to bottom, #000, #111);
}
